.home {
	margin: 0;
}

.intro {
	width: 100%;
	height: 85vh;
	display: flex;
	flex-wrap: wrap;
	background-color: blueviolet;
}

.main_container {
	background-color: aquamarine;
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-rows: 55rem 55rem 0;
	grid-template-columns: 1fr 1fr;
}
.image_container {
	background-color: #ffffff;
	grid-row: 1;
	grid-column: 1;
}
.image {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.text_section {
	background-color: #ffffff;
	grid-row: 1;
	grid-column: 2;
}

.image_container_rev {
	background-color: #ffffff;
	grid-row: 2;
	grid-column: 2;
}
.image_rev {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.text_section_rev {
	background-color: #ffffff;
	grid-row: 2;
	grid-column: 1;
}

.item {
	min-height: 40rem;
	min-width: 30rem;
	padding: 0.8rem;
}
.item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 1.5rem;
	pointer-events: none;
	box-shadow: 2px 3px 20px rgba(249, 242, 242, 0.2);
}
.carousel_container {
	margin: 2% 20%;
	padding: 1.2rem;
	border-radius: 0.5rem;
}
.carousel {
	display: flex;
	overflow: hidden;
	border-radius: 1.5rem;
}
.inner_carousel {
	gap: 1rem;
	display: inline-flex;
}

.carousel_top_box {
	width: 100%;
	border-radius: 30px;
	padding: 15px 20px;
	margin-bottom: 1.5rem;
	background: linear-gradient(to right, #323232, #141414);
}

.carousel_top_box p {
	text-align: center;
	text-transform: uppercase;
	color: #6c6c6c;
	font-size: 18px;
	font-weight: 600;
}

button
{
    margin-top: 10px;
    background: #0f0f0f;
    border: none;
    outline: none;
    color: #fff;
    padding: 20px 20px;
    border-radius: 20px;
    transition: 0.5s;
    cursor: pointer;
}
button:hover
{
    color: #0f0f0f;
    background: rgb(101, 190, 119);
}
