
.nav_container
{
    padding: 20px 30px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background: #0f0f0f;
    flex-wrap: wrap;
}
.nav_container .logo_container
{
    max-width: 50%;
    padding-right: 5rem;
}
.nav_container .logo_container .logo
{
   text-decoration: none;
}
 h2
{
    color: #fff;
    margin-left: 20px;
    font-size:  35px;
    cursor: pointer;
}

.nav_container .links
{
    max-width: 50%;
    margin-top: 5px;
    padding-left: 10rem;
}

.links ul li
{
    list-style: none;
    margin-left: 30px;
    margin-top: 5px;
}

.links ul li .link
{
    color: #323232;
    font-size: 20px;
    text-decoration: none;
    font-weight: 700;
    transition: 0.5s;
    padding: 0 2rem 0 4rem;

}
.links ul li .link:hover
{
    color: #fff;
}