
.work
{
    width: 100%;
    padding: 1rem 2rem;
    background: #0f0f0f;
    object-fit: cover;
    background-image: url("../img/texture.jpg");
}
.work .container
{
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top_box
{
    width: 100%;
    border-radius: 30px;
    padding: 15px 20px;
    background: linear-gradient(to right, #323232, #141414);
}
.top_box p
{
    text-align: center;
    text-transform: uppercase;
    color: #a9a7a7;
    font-size: 14px;
    font-weight: 900;
}

.left
{
    padding: 2rem;
    width: auto;
    margin-left: 5rem;
}

.left .box p
{
    margin-top: 5px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 14px;
    color: #9d9d9d;
    letter-spacing: 1px;
}
.left .box h3
{
    text-transform: capitalize;
    margin-top: 5px;
    color: #fff;
}
.right
{
    padding: 2rem;
    width: auto;
    margin-left: 5rem;
}

.content
{
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box
{
    padding: 10px 10px;
    background: linear-gradient(to right, #363636, #141414);
    min-height: 2em;
    width: 50rem;
    border-radius: .8rem;
    margin-top: 15px;
    margin-left: 15px;
}
.right .content .box .img_box img
{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.right .content .box p
{
    margin-top: 5px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    color: #9d9d9d;
    letter-spacing: 1px;
}
.exp-card-container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.exp-card{
    background: linear-gradient(to right, #b5b2b2, #e5e2e2);
    padding: 2rem 3rem;
}

.exp-card-content{
    width:  35rem;
}

.exp-card p{
    padding-top: 1rem;
    line-height: 150%;
}
button
{
    margin-top: 10px;
    background: #0f0f0f;
    border: none;
    outline: none;
    color: #fff;
    padding: 20px 20px;
    border-radius: 20px;
    transition: 0.5s;
    cursor: pointer;
}
button:hover
{
    color: #0f0f0f;
    background: rgb(101, 190, 119);
}