/* view prices button section */
.vp-btn,
.co-btn,
.cf-btn,
.vc-btn,
.ec-btn,
.rsv-btn {
	position: relative;
	background: #444;
	color: #fff;
	text-decoration: none;
	text-transform: capitalize;
	border: none;
	letter-spacing: 0.1rem;
	font-size: large;
	padding: 1rem 2rem;
	transition: 0.2s;
	border-radius: 1rem;
}
.vp-btn,
.cf-btn,
.co-btn,
.vc-btn,
.ec-btn,
.rsv-btn {
	animation: box 3s;
	animation-iteration-count: 1;
}
.vp-btn:hover,
.co-btn:hover,
.cf-btn:hover,
.vc-btn:hover,
.ec-btn:hover,
.rsv-btn:hover {
	letter-spacing: 0.2rem;
	padding: 1.1rem 3.1rem;
	background: var(--clr);
	color: var(--clr);
	animation: box 2.5s infinite;
}

.vp-btn::before,
.cf-btn::before,
.co-btn::before,
.vc-btn::before,
.ec-btn::before,
.rsv-btn::before {
	content: "";
	position: absolute;
	inset: 2px;
	background: #0f0f0f;
	border-radius: 1rem;
}

.vp-btn span,
.cf-btn span,
.co-btn span,
.vc-btn span,
.ec-btn span,
.rsv-btn span {
	position: relative;
	z-index: 1;
}
.vp-btn i,
.cf-btn i,
.co-btn i,
.vc-btn i,
.ec-btn i,
.rsv-btn i {
	position: absolute;
	inset: 0;
	display: block;
}

.vp-btn i::before,
.cf-btn i::before,
.co-btn i::before,
.vc-btn i::before,
.ec-btn i::before,
.rsv-btn i::before {
	content: "";
	position: absolute;
	width: 11px;
	height: 2px;
	left: 75%;
	top: -1px;
	border: 2px solid var(--clr);
	background: #272822;
	transition: 0.3s;
}

.vp-btn:hover i::before,
.cf-btn:hover i::before,
.vc-btn:hover i::before,
.co-btn:hover i::before,
.ec-btn:hover i::before,
.rsv-btn:hover i::before {
	width: 15px;
	left: 10%;
	animation: move 2.5s infinite;
}

.vp-btn i::after,
.cf-btn i::after,
.co-btn i::after,
.vc-btn i::after,
.ec-btn i::after,
.rsv-btn i::after {
	content: "";
	position: absolute;
	width: 11px;
	height: 2px;
	left: 10%;
	bottom: -3px;
	border: 2px solid var(--clr);
	background: #272822;
	transition: 0.3s;
}

.vp-btn:hover i::after,
.cf-btn:hover i::after,
.co-btn:hover i::after,
.vc-btn:hover i::after,
.ec-btn:hover i::after,
.rsv-btn:hover i::after {
	width: 15px;
	left: 75%;
	animation: move 2.5s infinite;
}

@keyframes move {
	0% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(5px);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes box {
	0% {
		box-shadow: #27272c;
	}
	50% {
		box-shadow: 0 0 25px var(--clr);
	}
	100% {
		box-shadow: #27272c;
	}
}

.cf-btn,
.co-btn,
.ec-btn,
.rsv-btn {
	width: 60%;
	padding: 1rem 4rem;
	border-radius: 1rem;
}

@media (max-width: 600px) {
	.vp-btn,
	.co-btn,
	.cf-btn,
	.ec-btn,
	.rsv-btn {
		animation-iteration-count: 3;
	}
	.cf-btn,
	.ec-btn,
	.co-btn,
	.rsv-btn {
		padding: 1rem 1.5rem;
		text-align: center;
		font-size: large;
	}
	.rsv-btn {
		padding: 1rem;
	}
}
