body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background: linear-gradient(to right, #b5b2b2, #bbbaba);
  border-radius: 0.8rem;
	box-shadow: 0px 10px 30px rgba(249, 242, 242, 0.3);
  color: #fff;
  text-align: center;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}
.snackbar.show {
  visibility: visible;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
@keyframes fadein {
  from {
     bottom: 0;
     opacity: 0;
  }
  to {
     bottom: 30px;
     opacity: 1;
  }
}
@keyframes fadeout {
  from {
     bottom: 30px;
     opacity: 1;
  }
  to {
     bottom: 0;
     opacity: 0;
  }
}