.contact {
	padding: 8rem 0 0 0;
	width: 100%;
	height: 150vh;
	background: #171717;
	background-size: cover;
}
.contact-container {
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr;
}
.info-box {
	grid-row: 1 / -1;
	grid-column: 1 / 2;
	padding: 0.5rem 0rem 0 5rem;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	justify-self: center;
}
.contact-container .info-box h3 {
	text-align: center;
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 1.5px;
}
.contact-container .info-box .info {
	display: grid;
	width: 100%;
	line-height: 1.2rem;
}
.contact-container .info-box .info .box {
	display: flex;
	width: 100%;
	padding: 1rem;
}
.contact-container .info-box .info .box .icon {
	padding: 20px 20px;
	border-radius: 10px;
	background: linear-gradient(to right, #363636, #141414);
	font-size: 25px;
	color: #fff;
}
.contact-container .info-box .info .box .detail {
	margin: 0.8rem;
	width: 50%;
}
.contact-container .info-box .info .box .detail h4 {
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 1px;
	color: #9d9d9d;
	font-weight: 300;
	margin-bottom: 10px;
}
.contact-container .info-box .info .box .detail p {
	color: #d7d7d7;
	font-size: 18px;
	font-weight: 600;
	margin-top: 5px;
}
.contact-container .input-box {
	padding: 4rem 3rem;
	background: linear-gradient(to right, #363636, #141414);
	border-radius: 1rem;
	width: 500px;
	height: 70%;
	grid-row: 1 / -1;
	grid-column: 2 / -1;
}
.contact-container .input-box img {
	float: right;
}
.contact-container .input-box h2 {
	font-size: 42px;
	color: #fff;
	text-transform: capitalize;
}
.contact-container .input-box h2 span {
	color: #5a77f3;
}
.contact-container .input-box .form {
	margin-top: 40px;
	display: flex;
	flex-direction: column;
}
.contact-container .input-box .form input {
	text-align: center;
	font-size: large;
	margin-top: 10px;
	padding: 20px 20px;
	border-radius: 50px;
	border: none;
	outline: none;
	background: #0f0f0f;
	color: #fff;
}
.contact-container .input-box .form input:not(:placeholder-shown) {
	box-shadow: 0 0 5px #39ff14;
}

.contact-container .input-box .form input:placeholder-shown {
	animation: none;
}
.contact-container .input-box .form textarea {
	margin-top: 10px;
	padding: 20px 20px;
	border-radius: 20px;
	border: none;
	outline: none;
	background: #0f0f0f;
	color: #fff;
	resize: none;
	height: 200px;
}
.btn-container {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 2rem;
}
.marquee {
	border-right: solid 3px rgba(0, 255, 0, 0.75);
	white-space: nowrap;
	overflow: hidden;
	font-family: "Source Code Pro", monospace;
	font-size: 28px;
	color: rgba(255, 255, 255, 0.7);
}

/* Animation */
.marquee {
	animation: animated-text 4s steps(29, end) 1s 1 normal both,
		animated-cursor 600ms steps(29, end) infinite;
}

/* text animation */

@keyframes animated-text {
	from {
		width: 0;
	}
	to {
		width: 472px;
	}
}

/* cursor animations */

@keyframes animated-cursor {
	from {
		border-right-color: rgba(0, 255, 0, 0.75);
	}
	to {
		border-right-color: transparent;
	}
}

@keyframes marquee {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(-100%, 0);
	}
}

@keyframes contact-box {
	0% {
		box-shadow: #27272c;
	}
	50% {
		box-shadow: 0 0 5px #39ff14;
	}
	100% {
		box-shadow: #27272c;
	}
}
@media (max-width: 600px) {
	.contact {
		padding: 1rem;
		height: 100%;
	}
	.contact-container {
		grid-template-rows: 1fr 2fr;
		grid-template-columns: 1fr 1fr;
	}
	.contact-container .info-box {
		padding: 2rem 1rem;
		height: 100%;
		width: 100%;
		grid-row: 1;
		grid-column: 1 / -1;
	}
	.contact-container .info-box h3 {
		text-align: center;
		font-size: 18px;
		font-weight: 700;
		letter-spacing: 1.5px;
	}
	.contact-container .info-box .info {
		width: 100%;
		padding-left: 1rem;
		text-align: center;
		line-height: 1.2rem;
	}
	.contact-container .input-box {
		margin: 0;
		padding: 2rem 1rem;
		margin-left: 1rem;
		width: 90%;
		height: 60%;
		grid-row: 2;
		grid-column: 1 / -1;
	}
	.contact-container .input-box .form {
		justify-content: center;
		align-items: center;
		align-self: center;
	}
	.contact-container .input-box .form input {
		width: 90%;
		margin-top: 10px;
		padding: 15px 20px;
		border-radius: 25px;
	}
	.contact-container .input-box .form textarea {
		padding: 20px 20px;
		border-radius: 15px;
		height: 200px;
	}
	.btn-container {
		width: 100%;
		margin: 1rem;
	}
}
