.work {
	max-width: 100%;
	padding: 1rem 1rem;
	background: #0f0f0f;
	object-fit: cover;
	background-size: contain;
}
.main_work_container {
	max-height: 100%;
	max-width: 100%;
}
.work .work_container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5rem 1rem;
}
.row:after {
	content: "";
	display: table;
	clear: both;
}
.work_column {
	float: left;
	width: 100%;
	height: 100%;
}
.top_box {
	width: 100%;
	border-radius: 1.2rem;
	padding: 15px 20px;
	background: linear-gradient(to right, #323232, #141414);
}
.top_box p {
	text-align: center;
	text-transform: uppercase;
	color: #a9a7a7;
	font-size: 14px;
	font-weight: 900;
}

.left {
	width: 100%;
	height: 100%;
}

.left .box p {
	margin-top: 5px;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 14px;
	color: #9d9d9d;
	letter-spacing: 1px;
}
.left .box h3 {
	text-transform: capitalize;
	margin-top: 5px;
	color: #fff;
}
.right {
	width: 100%;
	height: 100%;
}

.right .content {
	max-width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.right .content .box {
	padding: 10px 10px;
	background: linear-gradient(to right, #363636, #141414);
	width: 50rem;
	border-radius: 0.8rem;
	margin-top: 15px;
	margin-left: 15px;
}
.right .content .box .img_box img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 10px;
}
.right .content .box p {
	margin-top: 5px;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 14px;
	color: #9d9d9d;
	letter-spacing: 1px;
}
.exp-card-container {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.exp-card {
	background: linear-gradient(to right, #b5b2b2, #e5e2e2);
	padding: 1rem 2.5rem;
}

.exp-card-content {
	width: 30rem;
	height: 20rem;
}

.exp-card p {
	text-align: center;
	padding-top: 1rem;
	line-height: 150%;
}
.exp-card h2 {
	text-align: center;
	font-size: x-large;
	padding: .5rem;
	margin: 0;
}
button {
	margin-top: 10px;
	background: #0f0f0f;
	border: none;
	outline: none;
	color: #fff;
	padding: 20px 20px;
	border-radius: 20px;
	transition: 0.5s;
	cursor: pointer;
}
button:hover {
	color: #0f0f0f;
	background: rgb(101, 190, 119);
}
@media (max-width: 600px) {
	.work .work_container {
		padding: 1.5rem .8rem;
		flex-direction: column-reverse;
	}
	.exp-card-container {
		height: 10%;
		width: 100%;
		margin: 1rem 0;
	}
	.exp-card {
		text-align: center;
		padding: 0.5rem;
	}
	.exp-card-content {
		width: 100%;
		padding: .5rem;
	}
	.exp-card h2 {
		font-size: larger;
	}
	.exp-card p {
		width: 100%;
		text-align: center;
		padding: 1rem;
	}
	.right .content .box {
		width: 100%;
		padding: .5rem;
		margin: .5rem;
	}
}
